In [31]:
# Import dependencies
from pathlib import Path
import pandas as pd
import numpy as np
import re
import os
import matplotlib.pyplot as plt

In [32]:
# Reading in the heart.csv file
data = Path('Resources/heart.csv')
heart_df = pd.read_csv(data)
heart_df.head(2)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1

In [33]:
# Checking datatypes, row number, column number and if any null values
heart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [34]:
# Checking value_counts for age column 
heart_df["age"].value_counts()

58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
64    10
41    10
63     9
67     9
55     8
45     8
42     8
53     8
61     8
65     8
43     8
66     7
50     7
48     7
46     7
49     5
47     5
39     4
35     4
68     4
70     4
40     3
71     3
69     3
38     3
34     2
37     2
77     1
76     1
74     1
29     1
Name: age, dtype: int64

In [35]:
# Checking value_counts for sex column 
heart_df["sex"].value_counts()

1    207
0     96
Name: sex, dtype: int64

In [36]:
# Checking value_counts for cp column 
heart_df["cp"].value_counts()

0    143
2     87
1     50
3     23
Name: cp, dtype: int64

In [37]:
# Checking value_counts for trtbps column 
heart_df["trtbps"].value_counts()

120    37
130    36
140    32
110    19
150    17
138    13
128    12
125    11
160    11
112     9
132     8
118     7
135     6
108     6
124     6
145     5
134     5
152     5
122     4
170     4
100     4
142     3
115     3
136     3
105     3
180     3
126     3
102     2
94      2
144     2
178     2
146     2
148     2
129     1
165     1
101     1
174     1
104     1
172     1
106     1
156     1
164     1
192     1
114     1
155     1
117     1
154     1
123     1
200     1
Name: trtbps, dtype: int64

In [38]:
# Checking value_counts for chol column 
heart_df["chol"].value_counts()

234    6
204    6
197    6
269    5
212    5
      ..
278    1
281    1
284    1
290    1
564    1
Name: chol, Length: 152, dtype: int64

In [39]:
# Checking value_counts for fbs column 
heart_df["fbs"].value_counts()

0    258
1     45
Name: fbs, dtype: int64

In [40]:
# Checking value_counts for restecg column 
heart_df["restecg"].value_counts()

1    152
0    147
2      4
Name: restecg, dtype: int64

In [41]:
# Checking value_counts for thalachh column 
heart_df["thalachh"].value_counts()

162    11
160     9
163     9
173     8
152     8
       ..
129     1
128     1
127     1
124     1
71      1
Name: thalachh, Length: 91, dtype: int64

In [42]:
# Checking value_counts for exng column 
heart_df["exng"].value_counts()

0    204
1     99
Name: exng, dtype: int64

In [43]:
# Checking value_counts for oldpeak column 
heart_df["oldpeak"].value_counts()

0.0    99
1.2    17
0.6    14
1.0    14
0.8    13
1.4    13
0.2    12
1.6    11
1.8    10
0.4     9
2.0     9
0.1     7
2.6     6
2.8     6
1.9     5
1.5     5
0.5     5
3.0     5
2.2     4
3.6     4
2.4     3
3.4     3
4.0     3
0.9     3
0.3     3
2.3     2
4.2     2
1.1     2
2.5     2
3.2     2
6.2     1
2.1     1
4.4     1
1.3     1
3.1     1
0.7     1
5.6     1
3.8     1
2.9     1
3.5     1
Name: oldpeak, dtype: int64

In [44]:
# Checking value_counts for slp column 
heart_df["slp"].value_counts()

2    142
1    140
0     21
Name: slp, dtype: int64

In [45]:
# Checking value_counts for caa column 
heart_df["caa"].value_counts()

0    175
1     65
2     38
3     20
4      5
Name: caa, dtype: int64

In [46]:
# Checking value_counts for thall column 
heart_df["thall"].value_counts()

2    166
3    117
1     18
0      2
Name: thall, dtype: int64

In [47]:
# Checking value_counts for output column 
heart_df["output"].value_counts()

1    165
0    138
Name: output, dtype: int64